.popup {
  width: 100%;
  margin: 0 auto;
  max-width: 750px !important;
  border-radius: 0 !important;
  box-shadow: 0 6px 15px rgba(207, 211, 218, 0.35);
}

.add-task-form {
  width: 100%;
  max-width: 534px;
  margin: 0 auto;
  padding: 104px 0px 75px;
}

.add-task-form__title {
  margin-bottom: 99px;
  font-size: 33px;
  text-align: center;
  color: #3e434f;
}

.add-task-form__form-group {
  margin-bottom: 62px;
}

.add-task-form__button {
  max-width: 350px;
  margin: 0 auto;
}

.add-task-form__close {
  position: absolute;
  top: 27px;
  right: 25px;
  width: 59px;
  height: 59px;
  border: none;
  border-radius: 50%;
  border: 6px solid #eef0f5;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 5px;
    background-color: #eef0f5;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
